New Unity Project/Library/expandedItems
New Unity Project/Library/CurrentLayout.dwlt
New Unity Project/Assembly-CSharp-vs.csproj
New Unity Project/Assembly-CSharp-vs.csproj
New Unity Project/Assembly-CSharp.csproj
New Unity Project/Assembly-CSharp.csproj
New Unity Project/Library/metadata/23/232ea9d170972c748921362595186c3d
New Unity Project/Library/metadata/31/31eb8f30b01507349ac5508fbd2373dd
New Unity Project/Library/metadata/23/232ea9d170972c748921362595186c3d
New Unity Project/Library/metadata/41/41b86939eece1c644aaa7236ee841f4d
New Unity Project/Library/metadata/6c/6ccd8b4c07c65c848a14eb82736f8cfb
New Unity Project/Library/metadata/80/80a3616ca19596e4da0f10f14d241e9f
New Unity Project/Library/metadata/89/8984728ffd874734b802b29fe2e386ad
New Unity Project/Library/metadata/8f/8f1ec14981d1b4848a6b0a177b5ba899
New Unity Project/Library/metadata/92/92fe380a8e7b1f445a48a7139d3521cc
New Unity Project/Library/metadata/b4/b495256ed9f1be54b8a3245b3c3364c0